.logo {
  font-family: raleway, sans-serif;
  line-height: calc(31 / 26);
  font-size: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-link {
    color: var(--link-color);
}
  
.logo-header {
    color: var(--logoblack);
}

.logo-footer {
    color: var(--lighttxt-color);
}