.bunner,
  footer {
    background-color: var(--darckbackground);
    color: var(--lighttxt-color);
  }
  
  .bunner{
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  border: 1px dashed black;
  background-image: linear-gradient( rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)), 
  url(../images/bunner.jpg);
  
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover ;
  }
  
  .bunner-title {
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(66 / 44);
    margin-bottom: 30px;
  }
  
  .bunner {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
  }
  
  .bunner .button {
    padding: 10px 32px;
       }